.Completo
{
    text-decoration: line-through red
}
body
{
    background-size: 100%;
    /*background-image: url(../img/616629-foglio-di-quaderno-a-quadretti-bianco-con-bordo-strappato-mockup-o-modello-di-pagina-di-blocco-note-a.jpg)*/
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
header
{
    color: white;
    margin-top: 8%;
    margin-left: 5%;
}
h1
{
    font-size: xx-large;
    margin-bottom: 2%;
}
header p
{
    margin-bottom: 1%;
}
input
{
    border-radius: 20%;
    margin-right: 2%;
}
    button
{
    padding: 0.5%;
    border-radius: 40%;
    background-color: darkorange;
    color: aliceblue;
}
header button
{
    margin-right: 2%;
}
.Task
{
    background-color: darkgreen;
}
.Delete
{
    background-color: darkred;
}
article
{
    text-align: right;
}
article p
{
    font-size: x-large;
    text-align: center;
    /*color: blue;*/
    color: black;
}
article button
{
    margin-right: 5%;
}