body
{
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header img
{
    width="10%"
}
.verdescuro
{
    color: darkgreen;
}
.sfondo
{
    background-color:darksalmon;
}
.rosso
{
    color: red;
}
